<section class="gallery" id="work">
    <div class="row" style="background-color: #213537">

        {{ $galleryTotal := len (where .Site.RegularPages "Section" "gallery") }}

        <!-- Galleries with three entries -->
        {{ if eq $galleryTotal 3 }}
            {{ range first 2 (where .Site.RegularPages "Section" "gallery") }}
                <div class="col-xs-12 col-md-6 col-lg-4" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
                    <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                    <div class="row middle-xs center-xs overlay">
                        <div class="col-xs-12">
                            <h2>{{ .Title }}</h2>
                            <div class="row middle-xs center-xs">
                                {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link1 }}">View</a></h3></div>{{ end }}
                                {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link2 }}">Code</a></h3></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ range last 1 (where .Site.RegularPages "Section" "gallery") }}
                <div class="col-xs-12 col-md-4" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
                    <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                    <div class="row middle-xs center-xs overlay">
                        <div class="col-xs-12">
                            <h2>{{ .Title }}</h2>
                            <div class="row middle-xs center-xs">
                                {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link1 }}">View</a></h3></div>{{ end }}
                                {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link2 }}">Code</a></h3></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        <!-- Galleries with more than three entries -->
        {{ if gt $galleryTotal 3 }}
            {{ range first 2 (where .Site.RegularPages "Section" "gallery") }}
                <div class="col-xs-12 col-md-6 col-lg-4" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
                    <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                    <div class="row middle-xs center-xs overlay">
                        <div class="col-xs-12">
                            <h2>{{ .Title }}</h2>
                            <div class="row middle-xs center-xs">
                                {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link1 }}">View</a></h3></div>{{ end }}
                                {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link2 }}">Code</a></h3></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ range first 1 (after 2 (where .Site.RegularPages "Section" "gallery")) }}
                <div class="col-xs-12 col-md-4" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
                    <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                    <div class="row middle-xs center-xs overlay">
                        <div class="col-xs-12">
                            <h2>{{ .Title }}</h2>
                            <div class="row middle-xs center-xs">
                                {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link1 }}">View</a></h3></div>{{ end }}
                                {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link2 }}">Code</a></h3></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ range after 3 (where .Site.RegularPages "Section" "gallery") }}
                <div class="col-xs-12 col-md-4 col-lg-3" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
                    <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                    <div class="row middle-xs center-xs overlay">
                        <div class="col-xs-12">
                            <h2>{{ .Title }}</h2>
                            <div class="row middle-xs center-xs">
                                {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link1 }}">View</a></h3></div>{{ end }}
                                {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><h3><a href="{{ .Params.link2 }}">Code</a></h3></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        

    </div>
</section>
